@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Lato&display=swap");

:root {
  --font-lato: 'Lato', sans-serif;
  ;
  --font-anonymous: 'Anonymous Pro', monospace;
  --colorYellow: #e2c529;
  --colorBlack: #000000;
  --colorWhite: #d9d9d9;
}

body {
  background: linear-gradient(0.93deg,
      rgba(12, 126, 126, 0.9) 0.79%,
      rgba(93, 85, 181, 0.9) 100.35%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  height: 600px;
  border-radius: 20px;
  margin: auto;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}

.presentation {
  background: linear-gradient(180deg, #3b3c43 0%, #113454 100%);
  padding: 40px 0;
  align-items: end;
  justify-content: space-between;
}

.card.presentation .perfil {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}

.perfil h1,
.perfil h2 {
  font-family: var(--font-lato);
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 5px;
}

.presentation .perfil h1,
.presentation .perfil span {
  color: var(--colorWhite);
}

.perfil span {
  font-family: var(--font-anonymous);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

.card.presentation img {
  width: 361px;
  height: 496px;
  position: absolute;
  bottom: 0;
  left: -50px;
}

.card.presentation button {
  width: 146px;
  background: var(--colorYellow);
  border-radius: 20px;
  text-decoration: none;
  font-family: var(--font-lato);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--colorBlack);
  padding: 8px 0;
  z-index: 100;
  text-align: center;
  margin-right: 20px;
  border: var(--colorYellow);
  cursor: pointer;
}

.card.presentation button:hover {
  background: var(--colorBlack);
  color: var(--colorYellow);
  border: var(--colorYellow);
}

.card.presentation button:focus {
  outline: none;
  border: var(--colorYellow);
}

.description {
  background-color: var(--colorWhite);
  gap: 15px;
  text-align: center;
}

.description .perfil {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.description .perfil h2,
.description .perfil span {
  color: var(--colorBlack);
}

.card.description .imagen-description {
  background-image: url("../images/andreemalerva-description.jpg");
  background-size: cover;
  background-position: center center;
  width: 450px;
  height: 342px;
  border-radius: 20px 20px 30px 30px;
}

.card.description p {
  font-family: var(--font-lato);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--colorBlack);
  padding: 0 21% 10%;
  text-align: center;
}

.red-social {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
}

.red-social img {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}

.isVisible {
  display: flex;
  position: absolute;
  z-index: 100;
  animation-name: isVisible;
  animation-duration: 2s;
}

.isNotVisible {
  position: absolute;
  z-index: 0;
  animation-name: notVisible;
  animation-duration: 5s;
}

@keyframes isVisible {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}


@keyframes notVisible {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-0);
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 90%;
    height: 600px;
    margin: auto 15px;
  }

  .card.presentation img {
    width: 100%;
    height: 400px;
  }

  .card.description .imagen-description {
    width: 100%;
  }

  .red-social {
    justify-content: center;
  }
}